@import '../../../../../assets/styles/theme';

.service-card-box {
  background: #f3f3f3;
  border-radius: 14px;
  margin: 16px 0px;
  padding: 32px;

  h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }

  p {
    margin-top: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.56;

    height: 120px;
    overflow: hidden;
  }

  .expandable-icon {
    &:hover {
      cursor: pointer;
      color: $primary !important;
    }
  }
}
