@import '../../../../assets/styles/theme';

$mobile-threshold: $mobile * 1.6;

.product-products-content {
  position: relative;

  // margin: 0 auto;
  margin-top: -48px;
  padding: 0 64px 64px 64px;

  max-width: $crop;

  @media screen and(max-width: 750px) {
    padding: 8px;
  }
  .product-category-card {
    margin-bottom: 96px;
    padding: 32px;
    @media screen and(max-width: $mobile-threshold) {
      padding: 16px;
      margin-bottom: 64px;
    }
    h3 {
      color: #c51632;
      font-size: 28px;
      font-weight: 500;
    }
  }
}
