@import '../../../../assets//styles/theme';

.registration-container {
  .registration-form {
    width: 800px;
    height: 700px;
    @media screen and(max-width: $mobile*2) {
      width: 400px;
    }
    @media screen and(max-width: $mobile) {
      width: auto;
    }
  }
}
