@import '../../../../assets//styles/theme';

.registration-container {
  height: inherit;

  .registration-form {
    width: 65%;
    height: 700px;

    @media screen and(max-width: $mobile*2) {
      width: 80%;
    }
    @media screen and(max-width: $mobile) {
      width: 100%;
    }
  }
}
