@import '../../../../assets/styles/theme';

.news-detail-img {
  height: 560px;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-detail-article-card {
  margin-top: -48px !important;
  padding-bottom: 48px;

  background-color: white !important;
}

.news-detail-title,
.news-detail-subtitle {
  padding: 16px 32px !important;
}

.news-detail-title {
  width: 100%;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: rgba(0, 0, 0, 0.76);
}

.news-detail-description {
  font-family: $Merriweather;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2;
  text-align: justify;
  color: rgba(0, 0, 0, 0.72);
}

.news-detail-markdown {
  color: rgba(66, 66, 66, 0.9);
  img {
    height: auto;
    width: 100%;
  }
}
