@import '../../../../assets/styles/theme';

.contact-form-container {
  padding: ($space * 2);

  .gerami-input,
  .gerami-textarea {
    color: $bg;

    &:active,
    &:focus {
      color: $fg;
    }
  }
}

.contact-form-send-message-input {
  margin: 8px;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;

  .gerami-textarea {
    padding-top: $space !important;
    line-height: 1.5 !important;
  }
}
