@import '../../../../assets/styles/theme';

.contact-form-container {
  background-color: $bg;

  border-radius: $space !important;

  .gerami-input {
    &:hover {
      border-bottom-width: 2px !important;
      margin-bottom: 0 !important;
    }

    &:active {
      border-bottom-width: 2px !important;
      margin-bottom: 0 !important;
    }
    &:focus {
      border-bottom-width: 2px !important;
      margin-bottom: 0 !important;
    }
  }

  .btn-container {
    width: 100%;

    .shared-button {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-bottom-left-radius: $space - 2 !important;
      border-bottom-right-radius: $space - 2 !important;
      height: 60px !important;
    }
  }
}
