@import '../../../assets/styles/theme';

$mobile-threshold: $mobile * 1.6;

.showroom-container {
  margin-top: 85vh;
  .showroom-list {
    h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.75);
      font-size: 32px;
      padding-bottom: 16px;
      // padding: 64px;
      margin-top: 16px;
    }
    @media screen and(max-width: $mobile-threshold) {
      h3 {
        padding: 32px;
      }
    }
  }
}

.showroom-hero-container {
  width: 100%;
  height: 85vh;
  background-image: url('../../../../static/360/showroombg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85vh;
    background: linear-gradient(
      3.27deg,
      rgba(0, 0, 0, 0.65) 8.18%,
      rgba(0, 0, 0, 0.2) 91.07%
    );
  }

  display: flex;
  align-items: center;
  justify-content: center;

  .showroom-hero-tag {
    z-index: 9 !important;
    margin-bottom: 86px;
    align-self: flex-end;
    h1 {
      font-weight: 500;
      font-size: 36px;
      line-height: 56px;
      color: rgba(255, 255, 255, 0.95);
      margin-bottom: 48px;
    }
    .button-360 {
      align-self: flex-end;
    }
  }
}
