@import '../../../assets/styles/theme';

$mobile-threshold: $mobile * 1.6;

.showroom-360 {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.showroom-container {
  .showroom-list {
    h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      color: #bd0504;
      padding: 64px;
    }
    @media screen and(max-width: $mobile-threshold) {
      h3 {
        padding: 32px;
      }
    }
  }
}
