@font-face {
  src: url(../fonts/NissanFont/Nissan-Brand-Regular.otf);
  font-display: swap;
  font-family: Nissan;
  font-weight: 400;
}

@font-face {
  src: url(../fonts/NissanFont/Nissan-Brand-Light.otf);
  font-display: swap;
  font-family: Nissan;
  font-weight: 300;
}

@font-face {
  src: url(../fonts/NissanFont/Nissan-Brand-Bold.otf);
  font-display: swap;
  font-family: Nissan;
  font-weight: 700;
}

@font-face {
  src: url(../fonts/NissanFont/Nissan-Brand-Italic.otf);
  font-display: swap;
  font-family: Nissan;
  font-weight: 400;
  font-style: italic;
}
