@import './theme';

::selection {
  background: $accent;
  color: white;
}

body {
  background-color: #fafafa;
  // background-color: #f3f3f3;
  // background-color: #fefefe !important;

  font-family: $fontFam-body;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

a {
  @extend .gerami-anchor;
}
