@import './theme';

::selection {
  background: $accent;
  color: $bg;
}

html,
body {
  font-family: $fontFam-body;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

body {
  background-color: $bg;
}
