@import '~gerami/src/styles/theme';

$border: 1px;
$radius: 7px;

$fontFam-heading: 'Roboto', sans-serif;
$fontFam-body: 'Roboto', sans-serif;
$fontFam-article: 'Roboto', sans-serif;

$primary: #bd0504;
$accent: #c71444;

$mobile: 560px;
