@import '~gerami/src/styles/theme';

$space: 16px;

$crop: 1680px;

$border: 2px;
$radius: 7px;

$fontFam-heading: 'Roboto', sans-serif;
$fontFam-body: 'Roboto', sans-serif;
$fontFam-article: 'Roboto', sans-serif;

$primary: #bd0504;
$accent: #c71444;

$mobile: 560px;
