.image-box {
  background: linear-gradient(rgba(189, 5, 4, 0.84), rgba(189, 5, 4, 0.84)),
    url('../../../../../assets/images/branches/hero.jpg');
  background-size: cover;
  min-height: 50vh;
  margin-bottom: 10px;
}
