.markdown {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.branches-hero-container {
  width: 100%;
  height: 250px;
  background-image: url('../../../../assets/images/about/nyala.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(
      3.27deg,
      rgba(0, 0, 0, 0.7) 8.18%,
      rgba(0, 0, 0, 0.42) 91.07%
    );
  }

  display: flex;
  align-items: center;
  justify-content: center;

  .branches-hero-tag {
    z-index: 99 !important;

    h1 {
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      color: rgba(255, 255, 255, 0.95);
    }
  }
}

.email-block {
  background-color: white;
  padding: 128px;
  .email-block-left {
    padding: 32px;
    p:nth-child(1) {
      font-style: normal;
      font-weight: 500;
      font-size: 21px;
      line-height: 32px;
      display: flex;
      align-items: center;
      text-align: center;

      color: rgba(0, 0, 0, 0.8);
    }
    p:nth-child(2) {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 24px;

      display: flex;
      align-items: center;
      text-align: center;

      color: #000000;

      opacity: 0.7;

      flex: none;
      order: 1;
      align-self: center;
      margin: 0px 64px;
    }
    .email-block-right {
      padding: 32px;
    }
  }
}
