@import '../../../../assets/styles/theme';

.feedback-container {
  height: inherit;
  .feedback-form {
    width: 65%;
    height: 1200px;
    @media screen and(max-width: $mobile*2) {
      width: 80%;
    }
    @media screen and(max-width: $mobile) {
      width: 100%;
    }
  }
}
