@import '../../../../assets/styles/theme';

.about-hero-container {
  width: 100%;
  height: 420px;
  background-image: url('../../../../assets/images/about/nyala.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
    background: linear-gradient(
      3.27deg,
      rgba(0, 0, 0, 0.7) 8.18%,
      rgba(0, 0, 0, 0.42) 91.07%
    );
  }

  display: flex;
  align-items: center;
  justify-content: center;

  .about-hero-tag {
    z-index: 9 !important;

    h1 {
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      color: rgba(255, 255, 255, 0.95);
    }
  }
}

.about-outline-box {
  position: absolute;
  width: 300px;
  left: 128px;
  top: 440px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 32px 32px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.07);
  border-left: 8px solid $primary;
  border-radius: 5px;

  @media screen and (max-width: 1200px) {
    flex-direction: row !important;
    flex-wrap: wrap;
    width: auto;
    .about-outline-item {
      margin-right: 5px;
    }
  }
  @media screen and (max-width: 670px) {
    left: 24px !important;
    margin-right: 25px;
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column !important;
  }

  .about-outline-item {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 64px;

    span {
      color: $primary;
      margin-right: 5px;
    }

    a {
      &:hover {
        box-shadow: none;
      }
    }
  }
}

.about-content {
  padding-top: 190px;

  @media screen and (max-width: $mobile) {
    padding-top: 270px;
  }

  .about-content-title {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $mobile) {
      .title-box {
        margin-left: 0 !important;
      }

      h1 {
        font-weight: 800;
      }
    }
    .title-box {
      margin-left: 55px;
      text-align: left;
    }
    h1 {
      font-style: normal;
      font-weight: 900;
      font-size: 48px;
      line-height: 56px;
    }

    p {
      margin-top: 0 !important;
      font-style: normal;
      font-weight: normal;
      line-height: 25px;
      color: rgba(66, 66, 66, 0.7);
    }
  }
}

.about-main-container {
  padding-left: 90px;
  padding-right: 90px;

  @media screen and (max-width: 643px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media screen and (max-width: $mobile) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.overview-desc {
  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $primary;
  }
  p {
    padding-top: 34px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: rgba(66, 66, 66, 0.84);
  }

  ul {
    list-style: none;
    li {
      &::before {
        content: '\2022';
        color: $primary;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
      margin: 16px auto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px;
      color: rgba(66, 66, 66, 0.84);
    }
  }
}

.about-main-img {
  margin-top: 54px;
  margin-bottom: 64px;
  height: 348.76px;
  width: 100%;
  background-image: url('../../../../assets/images/about/nyala.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mark-down-p {
  margin-top: 0 !important;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: rgba(66, 66, 66, 0.9);

  img {
    min-height: 420px;
    width: 100%;
  }

  @media screen and (max-width: 650px) {
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.achivements-container {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;

  ul {
    li {
      margin: 8px 0 !important;
    }
  }

  @media screen and (max-width: 920px) {
    flex-direction: column;

    .carousel-box {
      width: 100% !important;
    }
  }
  .carousel-box {
    width: 50%;
  }

  .award-imgs {
    border-radius: 7px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    background-color: $primary;
  }
}

.values-card {
  border-top: 2px solid $primary;
  background-color: $primary !important;

  h2 {
    color: $bg;
  }

  .mark-down-values {
    margin-top: 0 !important;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
  }
}
.mission-card {
  border-top: 2px solid $primary;

  .mark-down-mission {
    margin-top: 0 !important;
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 16px;
    color: rgba(66, 66, 66, 0.9);
  }
}

.about-slider-box {
  .slider-imgs {
    border-radius: 7px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 420px;
    background-color: $primary;
  }
}

.board-message-container {
  padding: 16px;

  .board-message {
    font-size: 16px;
    color: rgba(1, 1, 1, 0.6);
  }

  hr {
    width: 100%;
    border: 0;
    background-image: linear-gradient(
      to right,
      rgba(197, 22, 50, 0),
      rgba(197, 22, 50, 0.75),
      rgba(197, 22, 50, 0)
    );
  }
  .board-info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .name-pos {
      h3 {
        font-size: 16px;
        margin: 0;
        &:nth-child(2) {
          font-weight: lighter;
          // color: rgba(1, 1, 1, 0.6);
        }
      }
    }

    .board-img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $primary;
    }
  }
}
