@import '../../../../assets/styles/theme';

$mobile-threshold: $mobile * 1.6;

.services-header {
  position: relative;
  height: 400px;

  @media (max-width: $mobile) {
    height: 560px;
  }
  @media (max-width: $mobile * 0.84) {
    height: 640px;
  }
  @media (max-width: $mobile * 0.7) {
    height: 720px;
  }

  .services-header-underlay {
    position: absolute;
    z-index: -1;

    top: 0;
    right: 0;
    left: 0;

    height: inherit;
    // width: 100%;
    background-size: cover;
  }

  .services-header-overlay {
    // display: flex;

    position: absolute;

    top: 0;
    right: 0;
    left: 0;

    height: inherit;

    background-color: transparentize($color: #141414, $amount: 1 - 0.84);
    color: transparentize($color: white, $amount: 1 - 0.95);

    > div {
      margin: auto;
      padding: 0 64px;

      max-width: $crop;

      @media (max-width: $mobile-threshold * 1.4) {
        grid-template-columns: 100%;

        padding: 0 32px;
      }

      > * {
        display: block;

        margin: auto 0;

        text-align: left;
      }

      > h1 {
        font-size: 48px;
        line-height: 56px;

        @media (max-width: $mobile-threshold) {
          font-size: 28px;
          line-height: 33px;

          padding-bottom: 16px;
        }
      }

      > div {
        overflow: hidden;

        font-size: 16px;

        opacity: 0.84;

        @media (max-width: $mobile-threshold) {
          font-size: 14px;
        }
      }
    }
  }
}
