@import '../../../../assets/styles/theme';

$mobile-threshold: $mobile * 1.6;

@import '../../../../assets/styles/theme';

.productCat-hero-container {
  width: 100%;
  height: 420px;
  background-position: center top 20%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 420px;
    background: linear-gradient(
      3.27deg,
      rgba(0, 0, 0, 0.7) 8.18%,
      rgba(0, 0, 0, 0.42) 91.07%
    );
  }

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .productCat-hero-tag {
    z-index: 9 !important;

    h1 {
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      color: rgba(255, 255, 255, 0.95);
    }
  }
}
.product-category-title {
  color: rgba(0, 0, 0, 0.75);
  font-size: 32px;
  padding-top: 16px;
}
.product-category-container {
  h3 {
    color: #c51632;
    font-size: 24px;
    font-weight: 500;
  }
  .product-category-yoga {
    padding: 16px 0 64px;
    @media screen and(max-width: $mobile-threshold) {
      padding: 8px;
    }
    .product-category-card {
      h3 {
        font-size: 21px;
        color: black;
      }
      div {
        a {
          position: relative;
          overflow: hidden;
        }
      }
      img {
        height: 240px;
        width: 100%;

        object-fit: contain;
      }
      .product-category-markdown {
        margin: 0;
        padding: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        height: 60px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;

        * {
          margin: 0 !important;
          padding: 0 !important;
        }
      }
    }
  }
}

.download-app-btn {
  display: inline-block;
  margin: 0;
  padding: 12px 24px;

  border: 2px solid $primary;
  border-radius: $radius;
  outline: 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #424242 !important;
  box-shadow: none !important;
  background: $primary;
  color: white !important;

  cursor: pointer;

  &:active {
    filter: $shy;
    transform: $touch;
  }

  > * {
    vertical-align: middle;
  }
}
