@import '../../../../assets/styles/theme';
@import '../../../../shared/components/header/header-height';

.landing-body-container {
  background-color: #fefefe !important;
}

.lading-hero-section {
  position: relative;

  margin-top: -$header-height;

  width: 100%;

  .home-hero-slides {
    display: block;
    position: absolute;

    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    border-radius: 0;

    * {
      height: 100% !important;
      width: 100%;

      margin: 0;
      padding: 0;
    }
  }

  .landing-hero-content {
    position: relative;

    height: 100%;
    width: 100%;

    &::before {
      content: '';

      position: absolute;

      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      background: rgba(0, 0, 0, 0.6);
    }

    > div {
      position: relative;

      max-width: 1680px;

      margin: 0 auto;
      padding: ($header-height + 140px) 64px 180px;

      @media (max-width: $mobile) {
        padding: ($header-height + 56px) 32px 70px;
      }
    }

    h1 {
      max-width: 840px;

      font-weight: 500;
      font-size: 44px;
      line-height: 56px;

      color: rgba(255, 255, 255, 0.95);

      @media (max-width: $mobile) {
        font-size: 30px !important;
        line-height: 30px !important;
      }
    }

    p {
      padding-bottom: 16px;

      max-width: 840px;

      font-size: 18px;
      line-height: 25px;

      color: rgba(255, 255, 255, 0.84);

      opacity: 0.95;

      @media (max-width: $mobile) {
        font-size: 18px !important;
        line-height: 20px !important;
      }
    }

    .learn-more-btn {
      border-color: #fafafa !important;

      background-color: transparent;
      color: #fafafa !important;
    }
  }
}

.landing-products-list {
  margin: 48px 24px 0;

  .landing-products-list-box {
    display: flex;
    justify-content: space-evenly;
    padding-top: 48px !important;
    padding-bottom: 48px !important;

    @media screen and (max-width: $mobile) {
      flex-wrap: wrap;
    }

    > * {
      margin: auto;
    }

    a {
      &:hover {
        box-shadow: none !important;
      }
    }
  }

  .produc-list {
    align-self: center;
    margin-bottom: 8px;
  }
  .produc-list-img-1 {
    // width: 77.35px;
    width: 120px;
    height: auto;
  }
  .produc-list-img-2 {
    width: 76.67px;
    height: 64px;
  }
  .produc-list-img-3 {
    width: 122.18px;
    height: 64px;
  }
  .produc-list-img-4 {
    width: 150.22px;
    height: 36px;
  }
  .produc-list-img-5 {
    width: 98.67px;
    height: 64px;
  }
}

.landing-about-container {
  padding-top: 96px !important;

  h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: $primary;
  }

  p {
    font-size: 18px;
    line-height: 32px;
    color: rgba(66, 66, 66, 0.84);
  }
}

.landing-to-link-container {
  padding-top: 64px !important;

  h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;

    color: rgba(0, 0, 0, 0.7);
  }
  .landing-link-yoga {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 778px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-size: 28px !important;
        line-height: 48px !important;
        align-self: center;
      }
      .icon-box {
        font-size: 76px !important;
      }
    }

    .landing-link-img-box {
      margin: 25px;
      width: 100%;
      border-radius: 7px;
      position: relative;
      overflow: hidden;

      &:hover {
        box-shadow: none;
      }

      &::before {
        border-radius: 7px;
        z-index: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.56);
      }

      .landing-img-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60%;
        z-index: 99;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 40px;
        color: $bg;

        @media screen and (max-width: 880px) {
          bottom: 30px;
        }

        span {
          font-size: 28px;
          line-height: 48px;

          @media screen and (max-width: 1080px) {
            font-size: initial;
          }
          @media screen and (max-width: $mobile) {
            font-size: initial !important;
          }
        }
        .icon-box {
          font-size: 76px;
          @media screen and (max-width: $mobile) {
            font-size: 76px !important;
          }
        }
      }
    }
  }
}

.landing-quote-container {
  padding: 96px 0 0 !important;

  blockquote {
    display: block !important;

    margin: 0 auto !important;
    padding: 32px 64px 48px;

    max-width: 840px !important;

    font-style: italic;
    font-weight: 300;
    font-size: 28px;
    line-height: 48px;
    text-align: center;

    color: rgba(0, 0, 0, 0.56);
  }
}

.landing-video-container {
  padding-top: 96px !important;
}

.landing-bottom-box {
  min-height: 340.52px;
  width: 100%;
  margin-top: 180px;
  position: relative;

  background-image: linear-gradient(to bottom, white, rgb(220, 220, 220));

  @media screen and (max-width: 650px) {
    margin-top: 100px;
  }
  .landing-bottom-slant {
    min-height: 340.52px;
    background-color: $primary;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 52%);
  }

  .landing-bottom-items {
    position: absolute;
    top: -40px;
    display: flex;
    justify-content: center;
    width: 100%;

    @media screen and (max-width: 650px) {
      .landing-bottom-item {
        height: 170.17px !important;
        padding: $space;
      }
    }

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      .landing-bottom-item {
        width: 100% !important;
        margin: 0 !important;
      }
    }

    .landing-bottom-item {
      margin: 25px;
      background-color: #fff;
      width: 624px;
      height: 277.17px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: none !important;
      transition: all 0.15s;

      &:hover,
      &:focus {
        box-shadow: $shade-S !important;
      }

      span {
        align-self: center;
      }
      .bottom-icons {
        font-size: 50px;
        color: $primary !important;
      }
      .bottom-title {
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 32px;
        color: rgba(66, 66, 66, 0.7);
      }
    }
  }
}
