@import "../../../../assets/styles/theme";

$height: 24px;
.nyala-style-radius {
  border-radius: 0 !important;
  border-bottom-right-radius: $radius !important;
}
.report-date {
  letter-spacing: 1.5px;
}
.report-card-title {
  line-height: $height;
  max-height: $height;
  overflow: hidden;
  margin-bottom: $space/3;
}

.excerpt-box {
  padding-top: 0 !important;
  p {
    height: 70px;
    overflow: hidden;
    margin-bottom: 0;
    transition: height 0.3s ease;
  }

  .expandable-icon {
    &:hover {
      cursor: pointer;
    }
  }
}
