@import '../../../../assets/styles/theme';

.product-card-content {
  padding: 16px 0 !important;
  border-radius: 7px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  h2,
  h3,
  p {
    color: rgba(20, 20, 20, 0.85) !important;
  }

  .product-content-container {
    padding: 0 8px;
  }
  .product-motto {
    margin: 0 !important;
    height: 30px;
    overflow: hidden;
  }
}
