.product-card-container {
  padding: 8px;
  margin-bottom: 24px;
  @media screen and(max-width: 750px) {
    padding: 0;
  }
  .product-card-content {
    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
      color: rgba(0, 0, 0, 0.7);
    }
    a {
      h4 {
        font-style: normal;
        font-weight: 420;
        font-size: 21px;
        line-height: 25px;
        letter-spacing: -0.05em;
        color: #c51632;
        padding-left: 15px;
      }
      div {
        height: inherit;
        max-height: 200px;
        overflow: hidden;
        border-radius: 7px;
      }
    }
  }
}
