@import '../../../../assets/styles/theme';

.product-card-content {
  padding: 16px 0 !important;
  border-radius: 7px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: none !important;

  h2,
  p {
    color: rgba(20, 20, 20, 0.85) !important;
  }

  img {
    object-fit: contain;
  }

  .product-content-container {
    padding: 0 8px;
  }
  .product-motto {
    margin: 0 !important;
    height: 48px;
    line-height: 24px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.nissan-content-container {
  margin: 15px auto;
  background-color: $primary;
  width: 85%;
  padding-top: 3px;
  padding-bottom: 3px;
  h3 {
    color: white;
  }
}
