@import '../../../../assets/styles/theme';

.news-list-parent {
  background-color: #fefefe !important;
  position: absolute;
  top: 0;
  left: 0;
}
.title-component {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #bd0504;
}

.padding-optimizer {
  padding: 64px;

  @media screen and (max-width: 900px) {
    padding: 0 !important;
  }
}
.padding-optimizer-big {
  @media screen and (max-width: 900px) {
    padding: 10px !important;
  }
}

.feature-padding-optimizer {
  @media screen and (max-width: 650px) {
    padding: 0 !important;
  }
}

.feature-padding-optimizer-big {
  @media screen and (max-width: 650px) {
    padding: 10px !important;
  }
}
