@import '../../../../assets//styles/theme';

.news-card-anchor {
  &:hover {
    box-shadow: none;
    .news-card-container {
      box-shadow: inset 0 -2px $primary, 0px 1px 3px rgba(0, 0, 0, 0.07);
    }
  }
}
.news-card-container {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 $primary, 0px 1px 3px rgba(0, 0, 0, 0.07);
  border-radius: 0 !important;

  img {
    object-fit: cover;
  }
  @media screen and (max-width: $mobile) {
    max-width: 100% !important;
  }

  .news-card-content {
    padding: 5px 10px;
    .news-card-title {
      height: 60px;
      font-weight: 500;
      font-size: 21px;
      line-height: 30px;
      overflow: hidden;
      margin-bottom: 0 !important;
    }

    .news-card-excerpt {
      height: 72px;
      font-weight: 300;
      font-size: 14px;
      line-height: 170%;
      overflow: hidden;
    }
  }
}
