@import '../../../../../assets/styles/theme';

$mobile-threshold: $mobile * 2.2;

.shared-header-nav {
  display: flex;

  height: inherit;

  .shared-header-nav-on-mobile {
    @media (min-width: $mobile-threshold) {
      display: none;
    }
    @media (width: $mobile-threshold) {
      display: none;
    }
  }

  a {
    display: flex;

    height: inherit;

    margin: auto 0 auto 32px;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

    box-shadow: none !important;
    color: #424242;

    // opacity: 0.7;

    > * {
      margin: auto;
    }

    &:not(.shared-header-nav-on-mobile) {
      @media (max-width: $mobile-threshold) {
        display: none;
      }
    }
  }

  .shared-nav-link-active {
    opacity: 1;
  }

  .shared-header-nav-important-link {
    height: 50%;
    width: 140px;

    border: $border solid $primary;
    border-radius: $radius;

    color: $primary;

    opacity: 0.84;
  }
}

.shared-header-nav-menu {
  @extend .shared-header-nav-on-mobile;
  @extend .shared-header-nav;

  position: absolute;
  z-index: 99;

  flex-direction: column;

  right: 32px;

  padding: 32px 32px 24px;

  width: calc(100% - 2 * 32px);
  max-width: 320px;
  height: initial;

  border-radius: $radius;

  background-color: white;
  box-shadow: $shade-M;

  a {
    margin: 0 0 8px;

    width: initial !important;
    height: 48px !important;
  }

  @media (min-width: $mobile-threshold) {
    display: none;
  }
  @media (width: $mobile-threshold) {
    display: none;
  }
}

.aftersale-dropdown {
  position: absolute;
  z-index: 99;
  top: 80px;
  width: 200px;
  height: initial;
  transition-duration: 0 !important;
  border-radius: $radius;
  background-color: white;
  box-shadow: $shade-M;
  padding: 12px 0 !important;

  a {
    text-align: left !important;
    padding: 12px 32px;
    margin: 0 !important;
    display: block;
    color: $primary !important;
  }
}

.aftersale-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;

  .aftersale-icon {
    align-self: center;
    padding-top: 4px;
    padding-left: 2px;
  }
}
